/*************************************************
*
*
*    CONTAINER CSS EDITS BELOW 
*    (QUOTE, CONTENT, MAIN, SIDE, FOOTER)
*
*
***************************************************/
#container {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    background-color:white;

    
    }

#header {
    width: 950px;
    height: 550px;
    background-color: ghostwhite;
    background-image: url(images/Jane-Addams-Portrait-bioheader.jpg);
    background-size:cover;
    margin-left: auto;
    margin-right: auto;
}

#quote_1 {
    height: 75px;
    line-height: 1.7;
}

p span {
    border: 0 solid black;
    padding: 12px;
    position: relative;
    background-color: white;
}

#text {
    text-align: center;
    font-family:"Times New Roman",'Pacifico', cursive;
    font-size: 18px;
}

/*************************************************
*
*
*    CONTENT CSS EDITS BELOW (TIMELINE HEADER)
*
*
***************************************************/

#content {
    width: 1100px;
    height: 900px;
    margin-right: auto;
    margin-left: auto;
    background-color:white;
}

#bio-header {
    
    position: relative;
    top:10px;
    left:150px;
}

.subsection-header {
    line-height: 120px;
    padding-left: 30px;
    font-size: 50px;
    /*color: #ececec;*/
    font-weight: bold;
    height: 120px;
    width: 768px;
}

/*************************************************
*
*
*   MAIN CONTENT CSS EDITS BELOW (TIMELINE DATES)
*
*
***************************************************/
#main-content {
    height: 700px;
    width: 800px;
    background-color: white;
    position: relative;
    top: 25px;
    left: 10px;
    font-family: "Times New Roman",'Dosis' , sans-serif;
}

.event-date-first-child {
    border-top: 1px solid #ccc;
    margin-top: 0;
}

.event-date {
    width: 100px;
    height:7px;
    text-align: center;
    line-height: 26px;
    float: left;
    font-size: 14px;
    border-top: 2px solid #ccc;
    margin: -1px 0 0 0;
    padding: 4px 5px 6px 0;
    clear: left;
    font-weight: bold;
}

.event-desc {
    width: 625px;
    background: #f9f9f9;
    float: left;
    margin: 0;
    padding: 8px 12px 8px 8px;
    border-top: 1px solid #ccc;
    clear: right;
    font-size: 14px;
}

.event-desc-nth-child {
    border-bottom: 1px solid #ccc;
}




/*************************************************
*
*
*   SIDE CONTENT CSS EDITS BELOW (IN A NUTSHELL)
*
*
***************************************************/
#side-content {
    height: 700px;
    width: 290px;
    background-color: white;
    float: right;
    clear: both;
    position: relative;
    bottom: 680px;
}

#second-image {
    width: 250px;
    height: 200px;
    position: relative;
    top: 7px;
    float: right;
    right: 18px;
}

.brief_info_Jane_Addams {
    font-size: 90%;
    font-family: "Times New Roman",'Dosis' , sans-serif;
    position: relative;
    margin-bottom: 2em;
    text-align: center;
    background-color: white;
}

.th, .brief_info_Jane_Addams td {
    vertical-align: top;
    border: 0;
    border-bottom: 1px solid #dddddd;
    padding: 0.2em;
}

#side_content_nutshell {
    font-family: "Times New Roman",'Lato' , sans-serif;
    font-weight:bold;
    font-size: 26px;
}


/*************************************************
*
*
*              FOOTER CSS EDITS BELOW 
*
*
***************************************************/
#footer {
    background-color:#ececec;
    height: 200px;   
}

#quote {
    font-family: "Times New Roman",'Pacifico', cursive;
    text-align:center;
    font-size: 24px;
    position: relative;
    top:5px;
    left: 150px;
}

a {
    color:dodgerblue;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
    color: blue;
}
